
#container {
	width: 320px;
	position: relative;
}

div.parent-page, #header, #footer {
	-webkit-transition: left 0.5s ease;
	position: absolute;
	display: block;
	left: 0px;
	width: 100%;
}

div.parent-page.hidden, #header.hidden, #footer.hidden {
	left: -330px;
}

div.child-page {
	-webkit-transition: left 0.5s ease;
	position: absolute;
	display: block;
	left: 0px;
	width: 100%;
}

#task-info.hidden, #course-info.hidden, div.child-page.hidden {
	left: 330px;
}


body {
    margin: 0px;
    font-family: Helvetica;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

#assignmentsNavTab, #coursesNavTab {
    border-left-width: 12px;
    border-right-width: 12px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    position: relative;
    height: 35px;
    margin-top: 5px;
    width: 133px;
    margin-right: 1px;
    margin-left: 2px;
/*     -webkit-border-image: url(/finna/img/navTab.png) 0 12 0 12 stretch stretch; */
}

#coursesNavTab {
    opacity: 0.5;
}

#columnLayout {
    display: table;
    overflow: hidden;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-top: 0px;
    position: absolute;
    bottom: 420px;
    height: 40px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.main-header-tab {
    color: black;
    font-family: Helvetica;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    margin-left: 0px;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
    margin-top: 6px;
    width: auto;
    min-height: 21px;
    height: auto;
}


.assignDetail_template {
    position: relative;
    list-style-type: none;
    height: 47px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
}

.label_template {
    position: absolute;
    top: 12px;
    height: 22px;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    right: 30px;
    left: 10px;
}

.arrow_template {
    position: absolute;
    width: 8px;
    height: 13px;
    right: 11px;
    top: 17px;
    background-image: url(/finna/img/chevron.png);
    background-repeat: no-repeat;
}


.assignDetail_template .row-selection-BG {
    background-image: url(/finna/img/selectedRowiPhone.png);
    background-repeat: initial;
    background-attachment: initial;
    -webkit-background-clip: initial;
    -webkit-background-origin: initial;
    background-color: rgb(38, 127, 239);
    -webkit-background-size: 100% 100%;
}

.assignDetail_template.selected .label_template {
    color: white;
}

.assignDetail_template.selected .arrow_template {
    background-image: url(/finna/img/chevron_white.png);
}




.hidden {
	display: none;
    top:0px;
}

.parent-page { top:0px; }

/* Quickie Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
}

#header, #footer {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 44px;
	z-index: 200;
}
/* Header */
#header h1 {
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5,#889bb3), color-stop(0.5,#8195AF), to(#6d84A2));
}

#header{
/* background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), color-stop(0.5,#151515), color-stop(0.5,#000), to(#000)); */
background-image: url(/finna/img/header_middle.png);
border-bottom: 1px solid rgb(45, 54, 66);
position: relative;
height: 40px;
}

#header li{
	-webkit-border-radius:8px;-webkit-box-shadow:rgba(0,0,0,.3) 1px 1px 3px;
	margin-top: 2px;
	width: 43%;
	text-align: center;
	color:#666;
	border-top:1px solid #333;
	border-bottom:#555858;
	list-style-type:none;
	padding:10px 10px 10px 10px;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#4c4d4e),to(#404142));
	overflow:hidden;
}
#assignments_tab{
	float: left;
	position: absolute;
}
#courses_tab{
	float: right;
}
#header li.active{
	color: #fffeff;
}

/* Footer */
#footer {
	background-image: -webkit-gradient(linear, 25% 70%, 100% 100%,	from(#572f0c), to(#f78632) );
background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), color-stop(0.5,#151515), color-stop(0.5,#000), to(#000));
	position: absolute;
	top: 500px;
	height: 59px;
	background-position: center bottom;
}

#content {
	position: relative;
}

#due_content{
	display: block;
}
#priority_content{
	display: none;
}
#course_content{
	display: none;
}
#done_content{
	display: none;
}


#footer ul {
	margin: 0 auto;
	padding: 3px 0 0;
	list-style: none;
	display: block;
	height: 56px;
	width: 320px;
	text-align: center;
	overflow: hidden;
}

#footer li {
	margin: 0 2px;
	float: left;
	position: relative;
}

#footer li.active {
	border: 3px solid;
	border-width: 0 3px;
	-webkit-border-image: url("/finna/img/footer-hover.png") 0 3;
}

#footer span {
	padding: 39px 3px 3px;
	float: left;
	width: 70px;
	color: #bbb;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
	background: url("/finna/img/footer-buttons-gray.png") no-repeat -2px -50px;
}

#footer li.active span {
	padding-left: 0;
	padding-right: 0;
	color: #fff;
}

#footer .due.active span {
	background-position: -5px top;
}

#footer .priority span {
	background-position: -66px -50px;
}

#footer .priority.active span {
	background-position: -69px top;
}

#footer .courses span {
	background-position: -130px -50px;
}

#footer .courses.active span {
	background-position: -133px top;
}

#footer .trash span {
	background-position: -194px -50px;
}

#footer .trash.active span {
	background-position: -197px top;
}
