

#container {
	width: 320px;
	position: relative;
}

div.parent-page, #header, #footer {
	-webkit-transition: left 0.5s ease;
	position: absolute;
	display: block;
	left: 0px;
	width: 100%;
}

div.parent-page.hidden, #header.hidden, #footer.hidden {
	left: -330px;
}

div.child-page {
	-webkit-transition: left 0.5s ease;
	position: absolute;
	display: block;
	left: 0px;
	width: 100%;
}

#task-info.hidden, #course-info.hidden, div.child-page.hidden {
	left: 330px;
}


body {
    margin: 0px;
    font-family: Helvetica;
    opacity: 1;
    background-image: url(/finna/img/background_stripes.png);
  	background-repeat: repeat;
    background-position: 0% 0%;
}

.navTab {
	width:100%;
    border-left-width: 12px;
    border-right-width: 12px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    position: relative;
    height: 35px;
    margin-top: 5px;
    width: 133px;
    margin-right: 1px;
    margin-left: 2px;
}

#coursesNavTab {
    opacity: 0.5;
}

#columnLayout {
    display: table;
    overflow: hidden;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-top: 0px;
    position: absolute;
    bottom: 420px;
    height: 40px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.main-header-tab {
    color: black;
    font-family: Helvetica;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    margin-left: 0px;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0px;
    margin-top: 6px;
    width: auto;
    min-height: 21px;
    height: auto;
}


li.scrollable {
    position: relative;
    list-style-type: none;
    height: 47px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
    background-color: white;
}

.label_template {
    position: absolute;
    top: 12px;
    height: 22px;
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    right: 30px;
    left: 10px;
}

.li-arrow-template {
    position: absolute;
    width: 8px;
    height: 13px;
    right: 11px;
    top: 17px;
    background-image: url(/finna/img/chevron.png);
    background-repeat: no-repeat;
}


li.scrollable .row-selection-BG {
    background-image: url(/finna/img/selectedRowiPhone.png);
    background-repeat: initial;
    background-attachment: initial;
    -webkit-background-clip: initial;
    -webkit-background-origin: initial;
    background-color: rgb(38, 127, 239);
    -webkit-background-size: 100% 100%;
}
.row-selection-BG {
	position: absolute; right: 0pt; left: 0pt; top: 0pt; bottom: 0pt; opacity: 1; display:none;
}

.li-assignment-name {
	position:absolute; 
	top:6px; 
	left:35px; 
	font-weight:bold; 
	font-size:16px; 
	text-overflow:ellipsis;
}

.li-course-number {
	position:absolute; top:26px; left:35px; font-size:15px; color:#444;
}

.li-due-date {
	position:absolute; top:26px; right:35px; font-size:15px; color:#444;
}

li.scrollable.selected {
    color: white;
}

li.scrollable.selected .arrow_template {
    background-image: url(/finna/img/chevron_white.png);
}

li.scrollable.selected .li-course-number, li.scrollable.selected .li-due-date {
	color:white;
}




.hidden {
	display: none;
    top:0px;
}

.parent-page { top:0px; }

/* Quickie Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica;
}

#header, #footer {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 44px;
	z-index: 200;
}
/* Header */
#header h1 {
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
	font-size: 20px;
	text-align: center;
	line-height: 44px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#b0bccd), color-stop(0.5,#889bb3), color-stop(0.5,#8195AF), to(#6d84A2));
}

#header{
/* background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), color-stop(0.5,#151515), color-stop(0.5,#000), to(#000)); */
background-image: url(/finna/img/header_middle.png);
border-bottom: 1px solid rgb(45, 54, 66);
position: relative;
height: 40px;
}

#header li{
	-webkit-border-radius:8px;-webkit-box-shadow:rgba(0,0,0,.3) 1px 1px 3px;
	margin-top: 2px;
	width: 43%;
	text-align: center;
	color:#666;
	border-top:1px solid #333;
	border-bottom:#555858;
	list-style-type:none;
	padding:10px 10px 10px 10px;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#4c4d4e),to(#404142));
	overflow:hidden;
}
#assignments_tab{
	float: left;
	position: absolute;
}
#courses_tab{
	float: right;
}

/* Footer */
#footer {
	background-image: -webkit-gradient(linear, 25% 70%, 100% 100%,	from(#572f0c), to(#f78632) );
background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), color-stop(0.5,#151515), color-stop(0.5,#000), to(#000));
	position: absolute;
	top: 500px;
	height: 59px;
	background-position: center bottom;
}

#header li.active{
	color: #fffeff;
}

#content {
	position: relative;
}

#due_content{
	display: block;
}
#priority_content{
	display: none;
}
#course_content{
	display: none;
}
#done_content{
	display: none;
}


#footer ul {
	margin: 0 auto;
	padding: 3px 0 0;
	list-style: none;
	display: block;
	height: 56px;
	width: 320px;
	text-align: center;
	overflow: hidden;
}

#footer li {
	margin: 0 2px;
	float: left;
	position: relative;
}

#footer li.active {
	border: 3px solid;
	border-width: 0 3px;
	-webkit-border-image: url("/finna/img/footer-hover.png") 0 3;
}

#footer span {
	padding: 39px 3px 3px;
	float: left;
	width: 70px;
	color: #bbb;
	font-weight: bold;
	font-size: 10px;
	text-decoration: none;
	background: url("/finna/img/footer-buttons-gray.png") no-repeat -2px -50px;
}

#footer li.active span {
	padding-left: 0;
	padding-right: 0;
	color: #fff;
}

#footer .due.active span {
	background-position: -5px top;
}

#footer .priority span {
	background-position: -66px -50px;
}

#footer .priority.active span {
	background-position: -69px top;
}

#footer .courses span {
	background-position: -130px -50px;
}

#footer .courses.active span {
	background-position: -133px top;
}

#footer .trash span {
	background-position: -194px -50px;
}

#footer .trash.active span {
	background-position: -197px top;
}


/*HEADER*/



.title {
  text-align:center;
  /* base metrics */
  height: 31px;
  margin:auto;
  margin-top: 3px;
  width:100%;
  /* the titles should be displayed below the button so that they don't receive touches */
  z-index: 0;
  /* set up the font appearance */
  font-size: 16pt;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

.navbutton {
  /* use absolute positioning and transforms as these will be subject to hardware transitions */
  position: absolute;
  -webkit-transform: translate(250px, 6px);
  /* the buttons should be displayed on top of the titles so that they can always receive touches */
  z-index: 1;
  /* set up the font appearance */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* set up the chrome background */
  -webkit-border-image : url(/finna/img/navbutton.png) 0 4 0 13;
  border-width : 0 4px 0 13px;
  padding-top: 7px;
  padding-right: 4px;
  /* base metrics used to ensure a minumum size and specify a max size that can be used to trim the contents */
  min-width: 40px;
  max-width: 60px;
  height: 23px; 
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}

/* touched state for the buttons */
.navbutton:active {
  -webkit-border-image : url(/finna/img/navbutton_clicked.png) 0 4 0 13;
}

.backButton {
 /* use absolute positioning and transforms as these will be subject to hardware transitions */
  position: absolute;
  -webkit-transform: translate(6px, 6px);
  /* the buttons should be displayed on top of the titles so that they can always receive touches */
  z-index: 1;
  /* set up the font appearance */
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
  /* set up the chrome background */
  -webkit-border-image : url(/finna/img/backButton.png) 0 4 0 13;
  border-width : 0 4px 0 13px;
  padding-top: 7px;
  padding-right: 4px;
  /* base metrics used to ensure a minumum size and specify a max size that can be used to trim the contents */
  min-width: 40px;
  max-width: 60px;
  height: 23px; 
  /* enfore trimming if the label is too long */
  white-space : nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
}
.backButton:active {
	-webkit-border-image : url(/finna/img/backButton_clicked.png) 0 4 0 13;
}

/*ASSIGNMENT DETAIL PAGE*/
.detailContent {
	margin-top: 10px;
	-webkit-user-select: none;
}

.detailTitleLabel {
    overflow: hidden;
    text-align: center;
    -webkit-border-top-left-radius: 8px 8px;
    -webkit-border-top-right-radius: 8px 8px;
    -webkit-border-bottom-left-radius: 8px 8px;
    -webkit-border-bottom-right-radius: 8px 8px;
    color: rgb(255, 255, 255);
    cursor: default;
    -webkit-user-select: none;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.445312);
	padding: 3px;
	font: bold 17px Helvetica;
}

.detailText {
    color: black;
	font: 17px Helvetica;
	background: white;
	-webkit-border-radius: 8px;
	padding: 5px;
	text-align: center;
}
.inlineButtonList li{
	display: inline;
	list-style-type: none;
	font-family: Helvetica;
    font-weight: bold;
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0) 0px -1px 0px;
    text-align: center;
    text-overflow: ellipsis;
}

#priority li{
	/*margin-top: -10px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

#priorityHigh {
	position: absolute;
	left: 5px;
	width: 60px;
    -webkit-border-image: url(/finna/img/highPriorityButton.png) 2 12 2 12 stretch stretch;
    opacity: .8;
    
}
#priorityHigh.active {
    -webkit-border-image: url(/finna/img/highPriorityButton_clicked.png) 2 12 2 12 stretch stretch;
    opacity: 1;
}

#priorityNormal {
	position: absolute;
	left: 109px;
	width: 60px;
    -webkit-border-image: url(/finna/img/normalPriorityButton.png) 2 12 2 12 stretch stretch;
    opacity: .8;
}
#priorityNormal.active {
    -webkit-border-image: url(/finna/img/normalPriorityButton_clicked.png) 2 12 2 12 stretch stretch;
    opacity: 1;
}

#priorityLow {
	position: absolute;
	left: 213px;
	width: 60px;
    -webkit-border-image: url(/finna/img/lowPriorityButton.png) 2 12 2 12 stretch stretch;
    opacity: .8;
	
}
#priorityLow.active {
    -webkit-border-image: url(/finna/img/lowPriorityButton_clicked.png) 2 12 2 12 stretch stretch;
    opacity: 1;
}

#statusForm{
	margin-top: 40px;
	margin-left: 5px;
	margin-right: 5px;
	/*padding: 3px;*/
	/*text-align: center;*/
	/*vertical-align: middle;*/
	/*-webkit-border-radius: 10px;
	border: 1px solid #c0c0c0;*/
	background: white;
	-webkit-border-radius: 8px;
	padding: 5px;
	padding-left: 10px;
    height: auto;
    width: 160px;	
}
.statusCheckbox{
	height: 30px;
	width: 30px;
	background-color: #004476;
}
#statusText{
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
	/*text-align: center;*/
	font: bold 17px Helvetica;
	
	
	/*-webkit-border-top-left-radius: 8px 8px;
    -webkit-border-top-right-radius: 8px 8px;
    -webkit-border-bottom-left-radius: 8px 8px;
    -webkit-border-bottom-right-radius: 8px 8px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.445312);
	padding: 3px;*/
}

#tabBarAssignBottomWindow{
	margin-top: 10px;
	margin-left: 5px;
}
#tabBarAssignBottomWindow li{
	/*position: absolute;*/
	height: 30px;
	width: 130px;
	border-left-width: 12px;
    border-right-width: 12px;
    border-top-width: 0px;
    border-bottom-width: 0px;
	-webkit-border-image: url(/finna/img/tabShape_clicked.png) 0 12 0 12 stretch stretch;
    padding-top: 3px;
    padding-bottom: 3px;
	text-align: center;
	color: #424242;
}
#tabBarAssignBottomWindow li.active{
    -webkit-border-image: url(/finna/img/tabShape.png) 0 12 0 12 stretch stretch;
}
#announceButton{
	left: 5px;
}
#courseInfoButton{
	right: 5px;
}
#tabBarAssignBottomWindow a{
	vertical-align: middle;
}

#assignBottomWindow{
	/*position: absolute;*/
	/*margin-top: 115px;*/
	margin-left: 5px;
	margin-right: 5px;
	width: 300px;
	height: auto;
	min-height: 100px;
	padding: 3px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 0;
   	-webkit-border-top-right-radius: 0;
	border: 2px solid #797979;
	background: white;
}

/*COURSE DETAIL*/

/*#tabBarCourseBottomWindow li{
	position: absolute;
	width: 50px;
	margin-top: auto;
	border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    -webkit-border-image: url(/finna/img/tabShape.png) 0 8 0 8 stretch stretch;
    padding-top: 3px;
    padding-bottom: 3px;
	text-align: center;
	color: #424242;
	font-size: 10px;
	height: 14px;
}
#tabBarCourseBottomWindow li:active{
	-webkit-border-image: url(/finna/img/tabShape_clicked.png) 0 12 0 12 stretch stretch;
}
#descriptionButton{
	left: 5px;
}
#officeHoursButton{
	left: 26%;
}
#handoutsButton{
	left: 51%;
}
#announcementsButton{
	left: 76%;
}*/

#courseBottomWindow {
	/*position: absolute;*/
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 3px;
	width: 300px;
	height: auto;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 0;
   	-webkit-border-top-right-radius: 0;
	border-left: 2px solid #797979;
	border-right: 2px solid #797979;
	border-bottom: 2px solid #797979;
}
#dropCourseButton{
	/*border-left-width: 12px;
    border-right-width: 12px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    -webkit-border-image: url(/finna/img/tabShape.png) 0 12 0 12 stretch stretch;*/

}

/*CourseDetailRoundRectangle*/

 

/*body.roundRectangleListType 
{
	margin: 0;
	padding: 0;
	margin-left:10px;
	background-color: rgb(197,204,211);	  Set the page color to light blue 
	-webkit-text-size-adjust:none;		   Turn off font resizing 
}*/


h1.roundRectangleListType  
{
	margin:0;
	padding-top:10px;		  
	padding-right:10px;		 
	padding-bottom:10px;	
	padding-left:10px;
	
	font-size:17px;
	font-family: Helvetica;
	font-weight:bold;
	color: rgb(76,86,108);	 /* Set each label color */		
}

ul.roundRectangleListType 
{
	padding: 0;	   
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:17px;		  /* Set each list 17 pixels from the top of the button bar(or the top of the next list) */
	
	font-size:17px;
	font-family: Helvetica;
	font-weight:bold;
	color:black;
	
	width: 300px;
	background-color: white;
	
	-webkit-border-radius: 8px;
	border: 1px solid #c0c0c0;
}


.roundRectangleListType li 
{	
	list-style-type: none;
	padding-top:10px;		  
	padding-right:10px;		 
	padding-bottom:14px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
	padding-left:10px;
	border-top: 1px solid #c0c0c0;
}

.roundRectangleListType li:active{
	background-image: url(/finna/img/selectedRowiPhone.png);
    background-repeat: initial;
    background-attachment: initial;
    -webkit-background-clip: initial;
    -webkit-background-origin: initial;
    background-color: rgb(38, 127, 239);
    -webkit-background-size: 100% 100%;
    -webkit-border-radius: 8px;
}

.roundRectangleListType li:first-child 
{
	border-top:0;    /* Remove border above the first item of the list */
}


.roundRectangleListType a   /* Handle the click/tap highlight. Highlight an entire cell with the iPhone grey background when tapped */ 
{
	display: block;   /* Sets the href to be a block rather than inline */
	
	/* The padding properties adjust the text content within the href block */
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	
	/* The margin properties adjust the size of the href block	*/
	margin-top: -8px;
	margin-right: -8px;
	margin-bottom: -12px;
	margin-left: -8px;	 
	
	text-decoration: none;
	color:black;
}


.roundRectangleListType a.showArrow /*	Add an arrow button to a link */
{  
	margin-right:10px;		
	padding-right:16px;	   /* Distance between the arrow button and a text */
	
	background-image: url(/finna/img/chevron.png); 
	background-repeat: no-repeat;
	background-position: right; 
}


.roundRectangleListType li.secondary	/* Used for secondary text (text that is less important) */
{
	font-weight:normal;		/* Regular font is used for secondary text */
	float:right;		     /* Align secondary text to the right of its parent cell */
	margin-right:10px;	  
}



.roundRectangleListType li.secondaryWArrow
{
	display:block;		 /* Set the secondary content to be a block	 */
	font-weight:normal; 
	float:right;
	color: #324F85;		 /* sets the color of the link */
}


.roundRectangleListType li.secondaryWLink /* Used for secondary text that is a link */
{
	font-weight:normal;		
	float:right;		  
	margin-right:10px;	  
	color: #324F85;		 /* sets the color of the link */
}


.textInput, #assignTitleField, #assignCourseSelection
{
	font-size: 17px;
	height: 30px;
}

#assignDescriptionTextArea
{
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	height: 130px;
	width: 310px;
	font-size: 17px;
}

#assignSubmit
{
	margin: 5px;
	font: bold 17px Helvetica;
	color: white;
	background-color: black;
	height: 40px;
	width: 100px;
}

#add-course-results{
	margin-top: 15px;
}

#add-course-results li{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    
    position: absolute;
    width: 60px; 
    
    height: 40px;
	vertical-align: middle;
    
    -webkit-border-image: url(/finna/img/navButton.png) 2 12 2 12 stretch stretch;
    opacity: .8;
}

#add-course-results li.active {
	opacity: 1;
}

#courseOption0 {
	left: 5px;   
}
#courseOption1 {
	left: 109px;
}
#courseOption2 {
	left: 213px;
	
}