<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /finna/
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>

php_flag short_open_tag On
php_value upload_max_filesize 5M
